body {
    margin: 100px auto;
    width: 70%;
    padding-bottom: 0;
    overflow-x: hidden;

}
nav ul, footer ul, label{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #91bbff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

header {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
span {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-color: #4286f4;
    font-size: 1em;
}
#proj-link{
    text-decoration: none;
    font-color: #4286f4;
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.proj-language{

}

.link {
    text-decoration: none;
    font-color: #4286f4;
    font-size: 1em;
}